body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    background-image: url("../images/wind.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    /* background-color: #0289f0; */
}

.settings {
    margin-top: 100px;
}

.settings > ul {
    padding-left: 0px;
    padding-right: 20px;
}

.settings > ul > p {
    text-shadow: 0.5px 1px #000;
}

body > section > nav {
    margin-top: 40px;
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    z-index: 2;
}