body {
    display: flex;
    margin-top: 50px;
    background-image: url("../images/wind.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    /* background-color: #5b9296; */
    /* background-image: linear-gradient(to bottom, #5b9296 0%, #327f95 100%); */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body > section > nav {
    margin-top: 40px;
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}
