*, *:before, *:after {
  box-sizing: border-box;
}

.ui-wrapper {
    height: 65%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.instructions {
    margin-top: 50px;
}

.instructions > ul {
    padding-left: 0px;
}

.instructions > ul > p {
    text-align: center;
    color: #5b9296;
    font-size: 16px;
}

.button {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid #5b9296;
    color: #d6d9ca;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #327f95;
    background-image: linear-gradient(to bottom, #5b9296 0%, #327f95 100%);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #5b9296;
    background-image: linear-gradient(to bottom, #327f95 0%, #5b9296 100%);
    cursor: pointer;
}

#restart {
    display: none;
    text-align: center;
    padding-top: 92px;
    z-index: 1;
    width: 600px;
    height: 360px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.settings {
    margin-top: 15px;
}

#settings {
    display: none;
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#settings > ul {
    color: #d6d9ca;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings > ul > li {
    text-align: center;
    margin-bottom: 16px;
}

#settings > ul > div {
    margin-bottom: 16px;
    color: #5b9296;
}

#settings > ul > .aiSelector,
#settings > ul > .difficulty,
#settings > ul > .numCircles {
    margin-bottom: 0px;
    color: #327f95;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #327f95;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #5b9296;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #327f95;
}

#cheat {
    display: none;
    color: #327f95;
}

.cheat:hover ~ #cheat{
    display: block;
}

#settings > ul > .credits {
    margin-bottom: 6px;
}

#credits {
    display: none;
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

#credits > li {
    margin-bottom: 5px;
    color: #327f95;
}

.credits:hover ~ #credits {
    display: block;
    z-index: 3;
}