*, *:before, *:after {
  box-sizing: border-box;
}

.ui-wrapper {
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.instructions {
    margin-top: 50px;
}

.instructions > ul {
    padding-left: 0px;
}

.instructions > ul > p {
    text-align: center;
    color: #d6d9ca;
    font-size: 16px;
}

.button {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid #5b9296;
    color: #d6d9ca;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #327f95;
    background-image: linear-gradient(to bottom, #5b9296 0%, #327f95 100%);
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #5b9296;
    background-image: linear-gradient(to bottom, #327f95 0%, #5b9296 100%);
    cursor: pointer;
}

#restart {
    display: none;
    text-align: center;
    padding-top: 92px;
    z-index: 1;
    width: 600px;
    height: 360px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.settings {
    margin-top: 15px;
}

#settings {
    display: none;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#settings > ul {
    color: #d6d9ca;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings > ul > li {
    text-align: center;
    margin-bottom: 16px;
}

#credits {
    display: none;
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    list-style-type: none;
    padding: 0px;
    top: 0; left: 0; bottom: 0; right: 0; 
    text-align: center;
    margin-top: 200px;
}

#credits > li {
    margin-bottom: 5px;
    color: #327f95;
}

.credits:hover ~ #credits {
    display: block;
    z-index: 3;
}